<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>생년월일</th>
                <th>이름</th>
                <th>주소</th>
				<th>메모</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="people, loop : ${peopleList}">
				<td th:text="${people.beid}"></td>
                <td>
                    <a th:href="@{|/people/detail/${people.beid}|}" th:text="${people.name}"></a>
                </td>
				<td th:text="${people.add}"></td>
                <td th:text="${people.memo}"></td>
            </tr>
        </tbody>
    </table>
</div>
</html>